@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
.intro__title {
  font-size: 52px;
  font-weight: 300;
  color: #dac3a3;
  text-transform: uppercase;
  text-align: center;
}

.intro__subtitle {
  font-size: 39px;
  font-weight: 300;
  color: #dac3a3;
  text-transform: uppercase;
  text-align: center;
}

.intro__info-subtitle {
  font-size: 18px;
  font-weight: 300;
  color: #dac3a3;
  text-transform: uppercase;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1290px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}

.navbar {
  background-color: #262626;
  padding: 12px 0;
}

.nav__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__links ul {
  display: flex;
}
.nav__links ul li {
  list-style: none;
}
.nav__links ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  margin: 0 15px;
}
.nav__order a {
  text-decoration: none;
  border: 2px solid #ffe57b;
  border-radius: 32px;
  padding: 10px 40px;
  color: #ffe57b;
  display: flex;
  align-items: center;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}
.nav__order a:hover {
  box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.271) inset;
}
.nav__order a img {
  margin-right: 8px;
}
.nav__contacts {
  display: flex;
}
.nav__contacts-order-ico {
  border: 1px solid #fff;
  border-radius: 100%;
  padding: 10px;
}
.nav__contacts-order-ico img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__contacts-order-contact {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  margin-left: 8px;
}
.nav__contacts-order-contact a {
  text-decoration: none;
  color: #fff;
  margin-top: 5px;
  font-weight: 600;
}
.nav__contacts-order-contact p {
  color: #fff;
}

.info__product {
  margin: 50px auto;
}
.info__product-content h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 300;
}
.info__product-content h2 {
  font-family: "BrengkelRegular";
  font-size: 200px;
  text-align: center;
  color: #dac3a3;
  letter-spacing: 26px;
  margin-left: 125px;
  margin-top: 20px;
}
.info__product-content-intro {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.info__product-content-intro p {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 120px;
}

.luxury {
  color: #fff;
}
.luxury__intro p {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin: 30px 0;
}
.luxury__armchair-setting {
  display: flex;
  justify-content: space-between;
}
.luxury__armchair-info {
  margin-top: 300px;
}
.luxury__armchair-info img {
  width: 100px;
  height: 100px;
}
.luxury__armchair-info h3 {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 300;
}
.luxury__armchair-info h3 span {
  font-size: 48px;
}
.luxury__armchair-info p {
  font-size: 20px;
  font-style: italic;
}
.luxury__armchair-hot {
  margin-top: 140px;
}
.luxury__armchair-hot h1 {
  font-size: 28px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: right;
  color: #dac3a3;
}
.luxury__armchair-hot p {
  font-size: 18px;
  text-align: right;
}

.dual__core {
  padding: 100px 0;
}
.dual__core-info-block {
  display: flex;
  justify-content: space-between;
}
.dual__core-info {
  margin-top: 80px;
}
.dual__core-info h1 {
  font-size: 32px;
  font-weight: 300;
  color: #dac3a3;
  text-transform: uppercase;
}
.dual__core-info p {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  text-align: left;
  margin-top: 20px;
}
.dual__core-xline {
  margin-top: 350px;
}
.dual__core-xline h1 {
  font-size: 32px;
  font-weight: 300;
  color: #dac3a3;
  text-transform: uppercase;
  text-align: right;
}
.dual__core-xline p {
  text-align: right;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  margin: 12px 0;
}

.spline__info-content {
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin: 50px auto;
  padding-bottom: 300px;
}
.spline__info-item {
  color: #fff;
  display: flex;
  align-items: center;
}
.spline__info-item h1 {
  font-size: 50px;
  font-weight: 300;
}
.spline__info-item p {
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 5px;
}

.space__content {
  padding-bottom: 630px;
}

.leps__intro {
  padding-bottom: 450px;
}
.leps__intro h1 {
  color: #fff;
  font-style: italic;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}
.leps__content {
  position: relative;
}
.leps__signature {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-top: 80px;
}
.leps__signature-text p {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  color: #fff;
}

.japan__content {
  padding-bottom: 450px;
}
.japan__content h1,
.japan__content h2 {
  color: #fff;
}

.plantar__content {
  padding-bottom: 86px;
}
.plantar__intro h2 {
  margin-top: 32px;
}
.plantar__info {
  margin-top: 100px;
}
.plantar__info p {
  max-width: 25%;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
}

.air__img img {
  display: flex;
  justify-content: center;
  margin: 30px auto;
}

.controller {
  padding-top: 70px;
  position: relative;
}
.controller__img {
  position: absolute;
  bottom: -50px;
  right: 0;
  max-width: 52%;
}
.controller__intro {
  padding-bottom: 50px;
}
.controller__content {
  position: relative;
}
.controller__programm {
  display: flex;
  flex-direction: column;
}
.controller__programm-item {
  display: flex;
  align-items: center;
  margin: 22px 0;
}
.controller__programm-item p {
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  margin-left: 10px;
}
.controller__display {
  display: flex;
  align-items: center;
  margin-top: 80px;
}
.controller__display h1 {
  font-size: 39px;
  font-weight: 400;
  color: #fff;
}
.controller__display p {
  font-size: 32px;
  font-weight: 400;
  color: #fff;
  margin-left: 5px;
  text-transform: uppercase;
}

.sleep {
  padding: 200px 0;
}
.sleep__intro {
  padding-bottom: 450px;
}
.sleep__intro h3 {
  margin-top: 22px;
}

.voice__intro {
  padding-bottom: 500px;
}
.voice__subtitle {
  margin-bottom: 0;
}
.voice__subtitle p {
  color: #fff;
  margin-bottom: 0;
  margin-top: 60px;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}

.technology__content {
  padding-top: 290px;
}
.technology__info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 490px;
}
.technology__left p {
  font-size: 16px;
  text-transform: uppercase;
  text-align: left;
  max-width: 22%;
}
.technology__right h1 {
  text-align: right;
}
.technology__right h3 {
  text-align: left;
}

.audio {
  padding-bottom: 480px;
}
.audio__intro h2 {
  margin: 30px 0;
}

.table__content img {
  margin: 30px auto;
  display: flex;
  justify-content: center;
}

.contact__intro h1 {
  color: #fff;
}
.contact__intro h3 {
  color: #fff;
}
.contact__form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px auto;
}
.contact__form form input {
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 30px;
  outline: 0;
  background: transparent;
  color: #fff;
  font-size: 18px;
  text-align: center;
  max-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px auto;
}
.contact__form form button {
  padding: 10px 90px;
  border: 1px solid #fff;
  border-radius: 30px;
  outline: none;
  background-color: #fff;
  color: #000;
  font-size: 18px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  max-width: 30%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact__form form button:hover {
  background: transparent;
  color: #fff;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}
.footer__contact-order img {
  margin: 0 auto;
}
.footer__contact-order p,
.footer__contact-order a {
  color: #dac3a3;
  font-size: 15px;
  text-align: center;
}
.footer__links nav ul {
  display: flex;
  flex-direction: column;
}
.footer__links nav ul li {
  list-style: none;
  margin: 10px auto;
}
.footer__links nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #dac3a3;
  font-size: 18px;
  margin: 20px auto;
}
.footer__info {
  color: #dac3a3;
  text-align: right;
  text-transform: uppercase;
  font-weight: 400;
}