.intro__title {
    font-size: 52px;
    font-weight: 300;
    color: $light-gold;
    text-transform: uppercase;
    text-align: center;
}
.intro__subtitle {
    font-size: 39px;
    font-weight: 300;
    color: $light-gold;
    text-transform: uppercase;
    text-align: center;
}
.intro__info-subtitle {
    font-size: 18px;
    font-weight: 300;
    color: $light-gold;
    text-transform: uppercase;
    text-align: center;
}